/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* General Styles */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

ul {
  padding-left: 16px;
  font-weight: 400;
  list-style-type: disc;
}

li {
  margin-bottom: 0.5em;
}

/* Accessibility */
.skip-to-main {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.skip-to-main:focus {
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #000;
  color: #fff;
  z-index: 9999;
}

/* Layout */
.wrapper {
  display: grid;
  width: 90%;
  padding: 20px;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  margin: 5em 0 0 0;
  justify-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  grid-column: 1;
  grid-row-start: 1;
  text-align: left;
  max-width: 960px;
  width: 90vw;
}

/* Typography */
h1 {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.5;
}

h2 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 16px;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
}

span {
  font-size: 1em;
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 13px;
  padding: 2px 8px;
  margin-right: 16px;
  margin-bottom: 8px;
  display: inline-block;
  background-color: #ffffff8f;
}

p {
  font-size: 1.5em;
  font-weight: 400;
}

/* Card Styles */
.card {
  grid-column: 1;
  grid-row-start: 1;
  display: none;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f0f0f000 !important;
  border: 0;
  position: relative;
  width: 1fr;
  max-width: 400px;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  transition: transform 1s;
}

.card img {
  filter: drop-shadow(3px 4px 4px #222);
  width: 50%;
}

.card img:hover {
  transform: scale(1.02);
  filter: drop-shadow(5px 7px 7px #222);
  animation-duration: 3s;
  cursor: pointer;
}

.card .text {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 20px;
}

/* Dealt Cards Container */
#dealtCardsContainer {
  grid-column: 1;
  grid-row: 2 / span 5;
  display: grid;
  grid-template-columns: repeat(1, 240px);
  gap: 2.5vh;
  margin: 0 10vh;
}

/* Search and Dropdown Styles */
.search:hover {
  cursor: pointer;
}

.search {
  width: 100%;
  padding: 5px 0;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search h2 {
  margin-right: 10px;
  flex: 1;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop_down_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.drop_down_icon.rotate {
  transform: rotate(180deg);
}

.drop-down-options {
  display: none;
  position: absolute;
  max-height: calc(100vh - 40vh);
  overflow-y: auto;
  width: 90vw;
  background-color: rgba(240, 240, 240, 0.94);
  border: #ffffff solid 0.5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 16px;
  margin-top: 0.2em;
}

.drop-down-options.show {
  display: block;
  opacity: 1;
  animation-name: fade, slide;
  animation-duration: 200ms, 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear, cubic-bezier(0.23, 1, 0.32, 1);
  animation-delay: 0s, 0s;
}

.drop-down-options .options {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.drop-down-options .options:hover {
  background-color: #e0e0e0;
}

.drop-down-options .options:first-child {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.drop-down-options .options:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* Portfolio Cards Styles */
.portfolio-cards {
  display: none;
  flex-wrap: wrap;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 1s;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.dealt-card {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;
}

.dealt-card.in-slot {
  opacity: 1;
}

.portfolio-cards .role-and-duration {
  display: column;
  column-count: 2;
  padding-bottom: 1em;
}

.portfolio-cards .logo {
  height: 40px;
  width: auto;
  max-width: 80%;
  object-fit: contain;
  margin-bottom: 10px;
}

.portfolio-cards span,
.portfolio-cards ul,
.portfolio-cards p,
.portfolio-cards h4 {
  display: none;
}

.portfolio-cards:hover span {
  animation-name: slide, fade;
  animation-duration: 0.5s;
  display: block;
}

.portfolio-cards .preview {
  position: absolute;
  left: 1px;
  bottom: 1px;
  z-index: -1;
  object-fit: cover;
  background-repeat: no-repeat;
  width: calc(100% - 1px);
  border-radius: 5px;
}

.portfolio-cards:hover .preview {
  filter: blur(16px);
  -webkit-filter: blur(16px);
}

.portfolio-cards:hover {
  transform: translateY(-5px);
  box-shadow: 2px 6px 18px rgba(0, 0, 0, 0.25);
  scale: 1.05;
}

.portfolio-cards.animate {
  animation: shuffle 2s forwards;
}

/* Description Styles */
.description h4 {
  margin-top: 80px;
  margin-bottom: 15px;
}

.description h4:first-child {
  margin-top: 30px;
}

.description ul {
  padding-left: 0px;
}

.description li {
  margin-bottom: 1.3em;
}
.description li:last-child {
  margin-bottom: 30px;
}

/* Enlarged Portfolio Card Styles */
.portfolio-cards.enlarged {
  position: fixed;
  height: 83vh;
  width: 30%;
  min-width: 350px;
  max-width: 700px;
  left: calc(50% - 200px);
  top: 5%;
  z-index: 9999;
  overflow: auto;
  cursor: auto;
  text-align: left;
  padding: 30px;
}

.portfolio-cards.enlarged::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: -1;
}

.portfolio-cards.enlarged .preview {
  display: none;
}

.portfolio-cards.enlarged span {
  display: inline-block;
  animation: none;
}

.portfolio-cards.enlarged h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 20px;
}

.portfolio-cards.enlarged p,
.portfolio-cards.enlarged ul {
  display: block;
  font-size: 1.1em;
  line-height: normal;
}

.portfolio-cards.enlarged ul {
  display: block;
  list-style-type: disc;
  font-size: 1.1em;
  line-height: normal;
  padding-left: 12px;
  margin-bottom: 15px;
}

.portfolio-cards.enlarged li {
  display: list-item;
  margin-bottom: 1.3em;
}


.portfolio-cards.enlarged h4 {
  display: block;
}

.portfolio-cards.enlarged h4 i {
  margin-right: 8px;
}

.portfolio-cards.enlarged:hover {
  transform: none;
  scale: none;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Tagline Styles */
.portfolio-cards .tagline {
  display: none;
  font-size: 0.9em;
  color: #000000;
  margin: 5px 0 10px 0;
  transition: opacity 0.3s ease;
}

.portfolio-cards:hover .tagline {
  display: block;
}

.portfolio-cards:hover .tags {
  margin-top: 5px;
}

.portfolio-cards .tags {
  margin-top: 10px;
  transition: margin-top 0.3s ease;
}

.portfolio-cards.enlarged .tagline {
  display: block;
  margin-bottom: 15px;
  font-size: 1.1em;
}

/* Hero Image Styles */
.portfolio-cards .hero-image {
  display: none;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.portfolio-cards.enlarged .hero-image {
  display: block;
}

.portfolio-cards.enlarged .preview,
.portfolio-cards.enlarged .logo {
  display: none;
}

.portfolio-cards.enlarged .tags {
  margin-bottom: 10px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9998;
}

/* Animations */
@keyframes shuffle {
  0% {
    transform: translate(0, -50%);
    opacity: 0;
    z-index: 3;
  }

  50% {
    transform: translate(100px, -35%);
    opacity: 1;
    z-index: 2;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
    z-index: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade_reverse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide_reverse {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Responsive Styles */

@media screen and (max-width: 800px) {

  /* Disable card dealing animation */
  .portfolio-cards {
    transition: none;
    animation: none;
  }

  /* Disable card tilting effect */
  .portfolio-cards:hover {
    transform: none;
    box-shadow: none;
    scale: none;
  }



  /* Adjust the enlarged card styles for mobile */
  .portfolio-cards.enlarged {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: none;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 12px;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    grid-column: 1 / span 2;
    width: 80vw;
  }

  #dealtCardsContainer {
    grid-template-columns: repeat(2, 240px);
  }

  .drop_down_icon {
    right: 1em;
    width: 40px;
    height: 40px;
  }

  .portfolio-cards.enlarged {
    width: 30%;
  }

  .search{
    width: 80%;
  }

  .flex-col-3-search {
    padding: 5px 0;
  }

  .search-container {
    width: 95vw;
  }
  .drop-down-options {
    width: 75vw;
  }

  h2 {
    font-size: 3em;
  }

  h1 {
    font-size: 2em;
  }

}

@media screen and (min-width: 800px) {
  html {
    font-size: 12px;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    grid-column: 1 / span 2;
    width: 80vw;
  }

  #dealtCardsContainer {
    grid-template-columns: repeat(3, 240px);
  }

  .drop_down_icon {
    right: 1em;
    width: 40px;
    height: 40px;
  }

  .portfolio-cards.enlarged {
    width: 30%;
  }

  .search{
    width: 80%;
  }

  .flex-col-3-search {
    padding: 5px 0;
  }

  .search-container {
    width: 95vw;
  }
  .drop-down-options {
    width: 75vw;
  }

  h2 {
    font-size: 3em;
  }

  h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1100px) {
  html {
    font-size: 14px;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .container {
    grid-column: 1 / span 2;
  }

  .search {
    width: 100%;
  }

  .search-container {
    width: 50vw;
    min-width: 630px;
  }

  .drop-down-options {
    width: 50vw;
  }

  .card {
    display: flex;
    grid-column: 1;
    grid-row-start: 1;
    max-width: 250px;
    left: 25vw;
    top: 45%;
    transform: translateY(-50%);
  }

  #dealtCardsContainer {
    grid-template-columns: repeat(4, 240px);
  }

  .portfolio-cards.enlarged {
    left: calc(50% - 14vw);
  }
}

@media screen and (min-width: 1500px) {
    html {
      font-size: 16px;
    }

    .wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .container {
      grid-column: 2 / span 3;
    }

    .card {
      display: flex;
      grid-column: 5;
      grid-row-start: 1;
      max-width: 400px;
      right: 10px;
      left: 0;
      top: 45%;
      transform: translateY(-50%);
    }

    #dealtCardsContainer {
      grid-template-columns: repeat(5, 240px);
      grid-column: 1 / span 5;
    }

    .portfolio-cards.enlarged {
      width: 30%;
      left: calc(50% - 14vw);
    }

    .drop-down-options {
      width: 830px;
    }

    .search {
      width: 830px;
    }

    h2{
      font-size: 3.5em;
    }
    h1{
      font-size: 2.5em;
    }
  }